* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Helvetica Neue', sans-serif;
}

:root {
	--negro-0: #000000;
	--blanco-0: #ffffff;
	--color-principal: #02f86e;
	--color-secundario: #0d0d09;
	--color-secundario-negro: #151f12;
	--color-secundario-verde: #9eed8d;
	--font-size-1: 1.5rem;
	--font-size-2: 1.25rem;
	--font-size-3: 1rem;
	--font-weight-thin: 300;
	--font-weight-bold: 600;
	--font-weight-heavy: 800;
	--spacer-1: 0.25rem;
	--spacer-2: 0.5rem;
	--spacer-3: 1rem;
	--spacer-4: 1.5rem;
	--spacer-5: 2rem;
	--shadows: 0px 0px 50px rgba(109, 255, 87, 0.594);
}

.menu-headear {
	background-color: var(--color-principal);
	padding: 10px 0;
	text-align: center;
	list-style: none;
	margin-right: 0;
}

.menu-headear a {
	font-weight: 500;
	font-size: 15px;
	color: var(--color-secundario-negro);

	text-decoration: none;
	margin-right: 30px;
	padding: 10px 10px;
	transition: 0.3s;
	background-color: transparent;
}

.menu-headear a:hover {
	color: var(--color-principal);
}
.principal-inicio {
	max-width: 100%;
	width: 100%;
	height: auto;
}

.video-container {
	max-width: 100%;
	position: relative;
	padding-bottom: 56.25%;
	width: 100%;
}

video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.degrade-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, rgb(0, 0, 0), transparent);
}

.texto-superior {
	position: absolute;
	top: 170px;
	left: 70px;
	color: var(--color-principal);
	padding: 10px;
	font-weight: bold;
	font-size: 50px;
	line-height: 0.5;
}

.boton-vivo {
	background-color: var(--color-principal);
	color: var(--color-secundario);
	border: none;
	font-weight: medium;
	border-radius: 25px;
	padding: 10px 20px;
	font-size: 25px;
	cursor: pointer;
	position: absolute;
	top: 480px;
	left: 70px;
	box-shadow: var(--shadows);
}

.boton-vivo:hover {
	background-color: var(--color-secundario);
	color: var(--color-principal);
}
.seccion {
	height: 600px;
	padding: 20px;
	background-color: #f2f2f2;
	text-align: center;
}
